/* header */
.header {
  height: 122px;
  &.active {
    height: 70px;
    overflow: hidden;
  }
}


header {
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 50;
  font-size: 0;
  background-color: #fff;
  &.fix {
    position: fixed;
    top: 0;
  }
  > .inner {
    position: relative;
    width: 1530px;
    margin: 0 auto;
    .utils {
      position: absolute;
      top: 34px;
      right: 0;
      display: flex;
      white-space: nowrap;
      > a {
        display: inline-block;
        width: 22px;
        height: 22px;
        text-indent: -9999px;
        overflow: hidden;
        &.search {
          background-image: url(../images/icon-search.png);
        }
        &.login {
          background-image: url(../images/icon-login.png);
        }
        &.zzim {
          background-image: url(../images/icon-zzim.png);
        }
        &.bag {
          background-image: url(../images/icon-bag.png);
        }
        + a {
          margin-left: 24px;
        }
      }
      .active & {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .header-top {
    display: flex;
    align-items: flex-end;
    padding-top: 14px;
    .active & {
      padding-top: 12px;
    }
  }

  .logo {
    display: inline-block;
    a {
      display: block;
      width: 147px;
      height: 41px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(../images/logo.png) no-repeat;
    }
    .active & {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      a {
        width: 26px;
        height: 38px;
        background: url(../images/logo_small.png) no-repeat;
      }
    }
  }

  .category {
    display: inline-block;
    margin-left: 27px;
    font-size: 0;
    > li {
      display: inline-block;
      + li {
        margin-left: 18px;
      }
      > a {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #9a9a9a;
      }
    }
    .active & {
      margin-left: 42px;
      > li {
        > a {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}
/* header */

/* nav */
.gnb {
  display: inline-block;
  margin-top: 17px;
  &::after {
    content: '';
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 200%;
    opacity: 0;
    border-bottom: 1px solid #e1e1e1;
    pointer-events: none;
    transition: 0.3s;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  > ul {
    display: inline-block;
    margin: 0 auto;
    > li {
      display: inline-block;
      + li {
        margin-left: 24px;
      }
      &:hover,
      &.active {
        > a {
          /* background-color: red; */
          &::after {
            left: 0;
            width: 100%;
          }
        }
        > .dept {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.26);
        }
      }
      > a {
        position: relative;
        display: block;
        padding-bottom: 18px;
        font-weight: 700;
        font-size: 24px;
        color: #131313;
        line-height: 32px;
        &::after {
          content: '';
          position: absolute;
          bottom: 1px;
          left: 50%;
          width: 0;
          border-bottom: 3px solid #131313;
          transition: 0.3s;
        }
        &:hover {
          + .dept {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
          }
        }
      }
      > .dept {
        position: absolute;
        top: 39px;
        /* top: calc(100% - 1px); */
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        white-space: nowrap;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.5s;
        background-color: #fff;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: #fff;
          box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.26);
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100%;
          background-color: #fff;
          box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.26);
        }
        > .inner {
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: space-between;
          padding: 40px 0;
          background-color: #fff;
          > ul {
            flex: 1 1 0%;
            > li {
              > a {
                position: relative;
                display: inline-block;
                font-size: 15px;
                color: #131313;
                &.view-all {
                  position: relative;
                  padding-right: 12px;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 20px;
                  &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid #131313;
                    border-right: 2px solid #131313;
                    transform: translateY(-50%) rotate(45deg);
                  }
                }
                &:not(.view-all ) {
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 0;
                    border-bottom: 1px solid #131313;
                    transition: 0.3s;
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
              + li {
                margin-top: 18px;
              }
              &:nth-child(2) {
                margin-top: 22px;                
              }
            }
          }
          > .bnr {
            flex: none;
          }
        }
      }
    }
  }

  .active & {
    margin-top: 3px;
    padding-left: 42px;
    > ul {
      > li {
        > a {
          padding-bottom: 13px;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

}
/* nav */


/* footer */
footer {
  margin-top: 130px;
  padding: 60px 0;
  background-color: #f6f6f6;
  > .inner {
    position: relative;
    width: 1530px;
    margin: 0 auto;
    padding-left: 230px;
    color: #9a9a9a;
    > .footer-home {
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  .f-inner-cont {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .footer-left {
    display: flex;
    flex-direction: column;

    .fl-info {
      > dt {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 24px;
      }
      > dd {
        display: flex;
        font-size: 15px;
        line-height: 26px;
        &.phone-num {
          margin-top: auto;
          font-weight: 700;
          font-size: 24px;
        }
        > span {
          position: relative;
          + span {
            margin-left: 10px;
            padding-left: 10px;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              border-bottom: 10px solid #d8d8d8;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    
    .footer-sns {
      display: flex;
      margin-top: auto;
      > li {
        + li {
          margin-left: 27px;
        }
      }
    }
  }

  .footer-right {
    .fr-linktop {
      display: flex;
      align-items: center;
      > li {
        position: relative;
        + li {
          margin-left: 20px;
          padding-left: 20px;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            border-bottom: 12px solid #d8d8d8;
            transform: translateY(-50%);
          }
        }
        > a {
          display: block;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    address {
      margin-top: 20px;
    }
    .copyright {
      margin-top: 50px;
      font-size: 15px;
      line-height: 26px;
    }
  }
  .small-item {
    display: flex;
    > span {
      position: relative;
      margin-right: 10px;
      padding-right: 10px;
      font-style: normal;
      font-size: 15px;
      line-height: 26px;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        border-bottom: 10px solid #d8d8d8;
        transform: translateY(-50%);
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after {
          content: none;
        }
      }
    }
    &.policy {
      > span {
        font-size: 14px;
        color: #b1b1b1;
      }
    }
  }
}
/* footer */





/* content */
main {
}

.wrap {
  overflow: hidden;
}
/* content */