<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://images.descentekorea.co.kr/contents/LecoqSportif.ico">
  <meta name="title" content="르꼬끄 온라인스토어">

  <meta property="og:image" content="">
  <meta property="og:url" content="">

  @@if (context.page_main === true){
    <title>@@title</title> 
  }
  @@if (context.page_main === false){
    <title>@@title | 르꼬끄</title>
  }

  <link rel="stylesheet" type="text/css" href="../../assets/css/libs/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
  @@if (context.mainCss === true){
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
  }
  <script src="../../js/libs/jquery-1.9.1.js"></script>
  <script src="../../js/libs/swiper.min.js"></script>
  <script src="../../js/common_ui.js"></script>
  @@if (context.mainScript === true){
    <script src="../../js/main.js"></script>
  }
</head>